################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RECAP/FileContentIndex
/obj/Debug/net8.0/RECAP.AssemblyInfo.cs
/.vs/RECAP/CopilotIndices/17.14.734.62261/CodeChunks.db
/.vs/RECAP/CopilotIndices/17.14.734.62261/CodeChunks.db-shm
/.vs/RECAP/CopilotIndices/17.14.734.62261/CodeChunks.db-wal
/.vs/RECAP/CopilotIndices/17.14.734.62261/SemanticSymbols.db
/.vs/RECAP/CopilotIndices/17.14.734.62261/SemanticSymbols.db-shm
/.vs/RECAP/CopilotIndices/17.14.734.62261/SemanticSymbols.db-wal
/obj/Debug/net8.0/RECAP.AssemblyInfoInputs.cache
/obj/Debug/net8.0/RECAP.assets.cache
/obj/Debug/net8.0/RECAP.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/rpswa.dswa.cache.json
/.vs/RECAP/copilot-chat/ad5b45de/sessions/e4e94c0d-cab5-49bb-847c-5db773d4043e
/obj/Debug/net8.0/ref/RECAP.dll
/obj/Debug/net8.0/refint/RECAP.dll
/bin/Debug/net8.0/EPPlus.dll
/bin/Debug/net8.0/EPPlus.Interfaces.dll
/bin/Debug/net8.0/EPPlus.System.Drawing.dll
/bin/Debug/net8.0/Microsoft.IO.RecyclableMemoryStream.dll
/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
/bin/Debug/net8.0/RECAP.deps.json
/bin/Debug/net8.0/RECAP.dll
/bin/Debug/net8.0/RECAP.exe
/bin/Debug/net8.0/RECAP.pdb
/bin/Debug/net8.0/RECAP.staticwebassets.endpoints.json
/bin/Debug/net8.0/runtimes/win/lib/net7.0/Microsoft.Win32.SystemEvents.dll
/bin/Debug/net8.0/runtimes/win/lib/net7.0/System.Drawing.Common.dll
/obj/Debug/net8.0/RECAP.sourcelink.json
/obj/Debug/net8.0/rjimswa.dswa.cache.json
/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/obj/Debug/net8.0/staticwebassets.build.json
/obj/Debug/net8.0/staticwebassets.build.json.cache
/obj/Debug/net8.0/staticwebassets.development.json
/obj/project.assets.json
/obj/project.nuget.cache
/obj/RECAP.csproj.nuget.dgspec.json
/obj/RECAP.csproj.nuget.g.props
/obj/RECAP.csproj.nuget.g.targets
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/RECAP.csproj.AssemblyReference.cache
/obj/Debug/net8.0/RECAP.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/RECAP.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/RECAP.csproj.Up2Date
/obj/Debug/net8.0/RECAP.dll
/obj/Debug/net8.0/RECAP.genruntimeconfig.cache
/obj/Debug/net8.0/RECAP.pdb
/bin/Debug/net8.0/RECAP.staticwebassets.runtime.json
/bin/Debug/net8.0/System.Drawing.Common.dll
/.vs/RECAP/v17/.futdcache.v2
/.vs/RECAP/v17/.suo
/.vs/RECAP/v17/DocumentLayout.backup.json
/.vs/RECAP/v17/DocumentLayout.json
/.vs/RECAP/v17/fileList.bin
/.vs/ProjectEvaluation/recap.metadata.v9.bin
/.vs/ProjectEvaluation/recap.projects.v9.bin
/.vs/ProjectEvaluation/recap.strings.v9.bin
/.vs/RECAP/DesignTimeBuild/.dtbcache.v2
/SourceFiles/DashboardData.xlsx
/SourceFiles/~$DashboardData.xlsx
