################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RECAP/FileContentIndex
/obj/Debug/net8.0/RECAP.AssemblyInfo.cs
